@import url("/comuniAvisa/css/styles.css");

#criar-conteudo {
  background-color: var(--cor-azul-secundaria);
  border: none;
}

#criar-.form-conteudo {
  background-color: var(--cor-azul-principal);
}

.form-conteudo {
  width: 90%;
}

@media screen and (min-width: 728px) {
  .form-conteudo {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .form-conteudo {
    width: 40%;
  }
}

@media screen and (min-width: 1440px) {
  .form-conteudo {
    width: 20%;
  }
}