@import url("/comuniAvisa/css/styles.css");

#criar-monitoria {
  background-color: var(--cor-azul-secundaria);
  border: none;
}

#criar-monitoria:hover {
  background-color: var(--cor-azul-principal);
}

.form-monitoria {
  width: 90%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

main img {
  display: none;
}

@media screen and (min-width: 728px) {
  .form-monitoria {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .form-monitoria {
    width: 40%;
  }
}

@media screen and (min-width: 1440px) {
  .form-monitoria {
    width: 20%;
  }
}