:root {
  --cor-azul-principal: #2D2363;
  --cor-azul-secundaria: #4A79AA;
}

.navbar {
  background-color: var(--cor-azul-principal);
}

.navbar-brand {
  font-weight: bold;
}

@media screen and (min-width: 728px) {
  .navbar-brand {
    font-size: 4em;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sessao-box {
  background: #d6d6d6;
  border-radius: 16px;
  padding: 32px;
  display: inline-block;
}

.sessao-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  gap: 50px;
  transform: translateX(-8%);
}


footer {
  background-color: var(--cor-azul-principal); 
  color: white;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}

