:root {
  --cor-azul-principal: #2D2363;
  --cor-azul-secundaria: #4A79AA;
}

.navbar {
  background-color: var(--cor-azul-principal);
}

.navbar-brand {
  font-weight: bold;
}

@media screen and (min-width: 728px) {
  .navbar-brand {
    font-size: 4em;
  }
}

