@import url("./styles.css");

#criar-workshop {
  background-color: var(--cor-azul-secundaria);
  border: none;
}

#criar-workshop:hover {
  background-color: var(--cor-azul-principal);
}

.form-workshop {
  width: 90%;
}

@media screen and (min-width: 728px) {
  .form-workshop {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .form-workshop {
    width: 40%;
  }
}

@media screen and (min-width: 1440px) {
  .form-workshop {
    width: 20%;
  }
}